# node modules
node_modules/

# next js template
.next/

# lock file
*.lock

# generated static output file
public/

# auto generated db.json
db.json

# auto generated package-lock.json
package-lock.json

# idea project file
.idea/
